/* Resetting default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    background-color: #77b5fe; /* Light blue background */
}

/* Header styles */
.header {
    background-color: #1369ce; /* Dark blue background */
    color: #fff; /* White text color */
    text-align: center; /* Center align text */
    padding: 20px; /* Add padding */
    position: relative; /* Relative positioning for child elements */
}

.header img {
    position: absolute; /* Absolute positioning for the image */
    top: 50%; /* Position image vertically at the center */
    left: 20px; /* Add left spacing */
    transform: translateY(-50%); /* Adjust vertically */
}

/* Main content styles */
.content {
    padding: 20px;
    text-align: Left;
}
h1 {
    padding: 20px;
    text-align: center;
}

/* Pokemon GIF container */
.pokemon-gifs {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.pokemon-gifs img {
    width: 70px; /* Adjust width of Pokemon images */
    height: 70px;
}

/* Resume section styles */
.resume {
    background-color: #fff; /* White background */
    color: #333; /* Dark text color */
    padding: 20px;
    margin-top: 20px;
}

.resume h2 {
    margin-bottom: 10px;
}

.resume ul {
    list-style-type: none; /* Remove default list styles */
    padding-left: 0; /* Remove default list indentation */
}

.resume ul li {
    margin-bottom: 5px; /* Add margin between list items */
}
