/* Additional CSS for custom styling */

*{
    margin: 0;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    background-color: #1d72cd9e;
    padding: 6px; /* Increase padding for bigger header */
    
    & > img {
    max-width: 10%;
    height: auto;
    display: block;
    }
}

.left {
    width: 70%; /* Adjust width as needed */
    float: left;
}

.right {
    width: 30%; /* Adjust width as needed */
    float: right;
}

h1{
    font-size: 25px; /* Adjust size as needed */
    color: #333; /* Color for "rod" */
    float: middle;
}


h1 span {
    font-size: 28px; /* Larger font size for "Rodrigo Bunag III" */
    color: #6d4c41; /* Brown color for "Rodrigo Bunag III" */
}
h2 span {
    font-size: 28px; /* Larger font size for "Water Gym leader" */
    color: #6d4c41; /* Brown color for "Water Gym leader" */
}
p {
    font-size: 20px; /* Adjust size as needed */
    line-height: 1.6; /* Adjust line height for readability */
    color: #333; /* Default color for paragraphs */
}
nav button {
    background-color: transparent; /* Make button background transparent */
    border: none; /* Remove border */
    cursor: pointer;
    padding: 10px; /* Add padding for spacing */
    transition: background-color 0.3s ease; /* Add transition effect */
}
nav button:hover {
    background-color: rgba(0, 0, 0, 0.1); /* Darker color when hovered */
}

nav button p {
    margin: 0; /* Remove default margin for paragraphs */
}

img {
    max-width: 100%;

}

body {
    background-color:#A0CEFF
}

